In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import tree
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
from mlflow.tracking import MlflowClient
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, ConfusionMatrixDisplay
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import mlflow
from sklearn.model_selection import GridSearchCV

In [11]:
df = pd.read_csv('../data/telecom_customer_churn_clean.csv')
df.head(20)

,Gender,Age,Married,Number of Dependents,City_0,City_1,City_2,City_3,City_4,City_5,...,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Customer Status
0,0,37,1,0,0,0,0,0,0,0,...,1,0,0,1,2,593.30,0.00,0,381.51,0
1,1,46,0,0,0,0,0,0,0,0,...,0,1,1,0,1,542.40,38.33,10,96.21,0
2,1,50,0,0,0,0,0,0,0,0,...,0,0,0,1,1,280.85,0.00,0,134.60,1
3,1,78,1,0,0,0,0,0,0,0,...,1,1,0,1,1,1237.85,0.00,0,361.66,1
4,0,75,1,0,0,0,0,0,0,0,...,1,0,0,1,1,267.40,0.00,0,22.14,1
5,0,23,0,3,0,0,0,0,0,0,...,1,1,1,1,1,571.45,0.00,0,150.93,0
6,0,67,1,0,0,0,0,0,0,0,...,1,1,1,1,3,7904.25,0.00,0,707.16,0
7,1,52,1,0,0,0,0,0,0,0,...,0,0,0,0,3,5377.80,0.00,20,816.48,0
8,0,68,0,0,0,0,0,0,0,0,...,0,0,0,1,3,340.35,0.00,0,73.71,0
9,0,43,1,1,0,0,0,0,0,0,...,1,1,1,1,3,5957.90,0.00,0,1849.90,0
10,1,47,0,0,0,0,0,0,0,0,...,1,0,0,1,3,2460.55,0.00,0,0.00,0
11,0,25,1,2,0,0,0,0,0,0,...,1,1,1,1,3,8456.75,0.00,0,1152.72,0
12,0,58,1,0,0,0,0,0,0,0,...,0,0,0,1,1,351.50,0.00,0,93.25,0
13,0,32,0,0,0,0,0,0,0,0,...,1,0,0,1,3,7261.25,0.00,0,162.00,0
14,0,39,0,0,0,0,0,0,0,0,...,0,0,0,1,3,2560.10,0.00,0,0.00,0
15,0,58,1,2,0,0,0,0,0,0,...,0,1,1,1,3,6849.40,0.00,0,1935.46,0
16,0,52,1,1,0,0,0,0,0,0,...,1,1,1,1,2,1993.20,0.00,0,0.00,0
17,1,79,0,0,0,0,0,0,0,0,...,0,1,0,1,2,2791.50,0.00,0,480.15,1
18,1,67,0,0,0,0,0,0,0,0,...,0,0,0,1,1,25.10,0.00,0,0.00,1
19,0,79,1,0,0,0,0,0,0,0,...,1,1,0,1,2,1306.30,0.00,0,1571.50,0

In [12]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6589 entries, 0 to 6588
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Gender                       6589 non-null   int64
 1   Age                          6589 non-null   int64
 2   Married                      6589 non-null   int64
 3   Number of Dependents         6589 non-null   int64
 4   City_0                       6589 non-null   int64
 5   City_1                       6589 non-null   int64
 6   City_2                       6589 non-null   int64
 7   City_3                       6589 non-null   int64
 8   City_4                       6589 non-null   int64
 9   City_5                       6589 non-null   int64
 10  City_6                       6589 non-null   int64
 11  City_7                       6589 non-null   int64
 12  City_8                       6589 non-null   int64
 13  City_9                       6589 non-null   int64
 14  City_10                      6589 non-null   int64
 15  Number of Referrals          6589 non-null   int64
 16  Tenure in Months             6589 non-null   int64
 17  Phone Service                6589 non-null   int64
 18  Multiple Lines               6589 non-null   int64
 19  Internet Service             6589 non-null   int64
 20  Internet Type_0              6589 non-null   int64
 21  Internet Type_1              6589 non-null   int64
 22  Avg Monthly GB Download      6589 non-null   float64
 23  Device Protection Plan       6589 non-null   int64
 24  Premium Tech Support         6589 non-null   int64
 25  Streaming TV                 6589 non-null   int64
 26  Streaming Movies             6589 non-null   int64
 27  Streaming Music              6589 non-null   int64
 28  Unlimited Data               6589 non-null   int64
 29  Contract                     6589 non-null   int64
 30  Total Charges                6589 non-null   float64
 31  Total Refunds                6589 non-null   float64
 32  Total Extra Data Charges     6589 non-null   int64
 33  Total Long Distance Charges  6589 non-null   float64
 34  Customer Status              6589 non-null   int64
dtypes: float64(4), int64(31)
memory usage: 1.8 MB

In [13]:
X = df.drop("Customer Status", axis=1)
y = df["Customer Status"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, stratify=y, test_size=0.3, random_state=42
)

X_train.shape, X_test.shape

((4612, 34), (1977, 34))

In [14]:
X

,Gender,Age,Married,Number of Dependents,City_0,City_1,City_2,City_3,City_4,City_5,...,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges
0,0,37,1,0,0,0,0,0,0,0,...,1,1,0,0,1,2,593.30,0.00,0,381.51
1,1,46,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,542.40,38.33,10,96.21
2,1,50,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,280.85,0.00,0,134.60
3,1,78,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,1237.85,0.00,0,361.66
4,0,75,1,0,0,0,0,0,0,0,...,1,1,0,0,1,1,267.40,0.00,0,22.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6584,0,36,0,0,0,0,0,0,1,0,...,0,1,1,0,1,1,85.50,0.00,0,8.04
6585,0,20,0,0,0,0,0,0,0,0,...,1,0,0,1,1,2,742.90,0.00,0,606.84
6586,1,40,1,0,0,1,0,0,1,0,...,0,0,1,1,1,1,1873.70,0.00,0,356.40
6587,1,21,1,0,1,0,0,0,0,1,...,1,0,1,1,1,3,4627.65,0.00,0,142.04
6588,1,36,1,0,0,0,1,1,0,1,...,0,1,1,1,1,3,3707.60,0.00,0,0.00

# Random  Forest

In [16]:
import mlflow
from mlflow.tracking import MlflowClient
import mlflow.sklearn
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score, f1_score
)

mlflow.set_tracking_uri("http://127.0.0.1:5000")
mlflow.set_experiment("Depi_RF")
client = MlflowClient()
model_name = "RF"
alias_name = "RF"

with mlflow.start_run(run_name=f"Run for @{alias_name}") as run:

    rf = RandomForestClassifier(
        random_state=30,
        class_weight="balanced"  
    )

    rf.fit(X_train, y_train)
    
    y_pred = rf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average="weighted")
    recall = recall_score(y_test, y_pred, average="weighted")
    f1 = f1_score(y_test, y_pred, average="weighted")

    mlflow.log_metric("accuracy", acc)
    mlflow.log_metric("precision", precision)
    mlflow.log_metric("recall", recall)
    mlflow.log_metric("f1_score", f1)
    mlflow.sklearn.log_model(rf, artifact_path="model")

    model_uri = f"runs:/{run.info.run_id}/model"
    result = mlflow.register_model(model_uri=model_uri, name=model_name)
    version = result.version

    client.set_registered_model_alias(
        name=model_name,
        alias=alias_name,
        version=version
    )

    print(f"Accuracy: {acc:.4f}")
    print(f"Precision: {precision:.4f}")
    print(f"Recall: {recall:.4f}")
    print(f"F1 Score: {f1:.4f}")
    print(f"Model version: {version}")
    print(f"Alias @{alias_name} ‚Üí version {version}")

2025/12/10 17:14:05 WARNING mlflow.utils.git_utils: Failed to import Git (the Git executable is probably not on your PATH), so Git SHA is not available. Error: Failed to initialize: Bad git executable.
The git executable must be specified in one of the following ways:
    - be included in your $PATH
    - be set via $GIT_PYTHON_GIT_EXECUTABLE
    - explicitly set via git.refresh()

All git commands will error until this is rectified.

This initial warning can be silenced or aggravated in the future by setting the
$GIT_PYTHON_REFRESH environment variable. Use one of the following values:
    - quiet|q|silence|s|none|n|0: for no warning or exception
    - warn|w|warning|1: for a printed warning
    - error|e|raise|r|2: for a raised exception

Example:
    export GIT_PYTHON_REFRESH=quiet

2025/12/10 17:14:06 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
2025/12/10 17:14:39 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.
Registered model 'RF' already exists. Creating a new version of this model...
2025/12/10 17:14:42 WARNING mlflow.tracking._model_registry.fluent: Run with id d444acbf972740d187e9ea537c8c44b9 has no artifacts at artifact path 'model', registering model based on models:/m-1ebad4d7d10f435ea14e4a4eaa2dee90 instead
2025/12/10 17:14:42 INFO mlflow.store.model_registry.abstract_store: Waiting up to 300 seconds for model version to finish creation. Model name: RF, version 12
Created version '12' of model 'RF'.

Accuracy: 0.8660
Precision: 0.8643
Recall: 0.8660
F1 Score: 0.8598
Model version: 12
Alias @RF ‚Üí version 12
üèÉ View run Run for @RF at: http://127.0.0.1:5000/#/experiments/953327730224751686/runs/d444acbf972740d187e9ea537c8c44b9
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/953327730224751686

# Random Forest grid search

In [18]:
import mlflow
from mlflow.tracking import MlflowClient
import mlflow.sklearn
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score, f1_score
)

mlflow.set_tracking_uri("http://127.0.0.1:5000")
mlflow.set_experiment("Depi_RF")
client = MlflowClient()
model_name = "RF-GSCV"
alias_name = "RF-GSCV"

param_grid = {
    "n_estimators": [200, 300, 400, 500],
    "max_depth": [10, 20, 30, None],
    "min_samples_split": [2, 5, 10],
    "min_samples_leaf": [1, 2, 4],
    "max_features": ["sqrt", "log2"],
    
    }

with mlflow.start_run(run_name=f"Run for @{alias_name}") as run:

    rf = RandomForestClassifier(
        random_state=30,
        class_weight="balanced" 
    )

    grid = GridSearchCV(
        estimator=rf,
        param_grid=param_grid,
        cv=3,
        scoring="f1_weighted",
        n_jobs=-1,
        verbose=1
    )

    grid.fit(X_train, y_train)
    best_model = grid.best_estimator_
    y_pred = best_model.predict(X_test)

    acc = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average="weighted")
    recall = recall_score(y_test, y_pred, average="weighted")
    f1 = f1_score(y_test, y_pred, average="weighted")


    mlflow.log_metric("accuracy", acc)
    mlflow.log_metric("precision", precision)
    mlflow.log_metric("recall", recall)
    mlflow.log_metric("f1_score", f1)
    mlflow.log_metric("best_cv_score", grid.best_score_)
    mlflow.log_params(grid.best_params_)

    mlflow.sklearn.log_model(best_model, artifact_path="model")

    model_uri = f"runs:/{run.info.run_id}/model"
    result = mlflow.register_model(model_uri=model_uri, name=model_name)
    version = result.version

    client.set_registered_model_alias(
        name=model_name,
        alias=alias_name,
        version=version
    )

    print(f"Accuracy: {acc:.4f}")
    print(f"Precision: {precision:.4f}")
    print(f"Recall: {recall:.4f}")
    print(f"F1 Score: {f1:.4f}")
    print(f"Best CV Score (F1): {grid.best_score_:.4f}")
    print(f"Best Params: {grid.best_params_}")
    print(f"Model version: {version}")
    print(f"Alias @{alias_name} ‚Üí version {version}")

Fitting 3 folds for each of 288 candidates, totalling 864 fits

2025/12/10 17:20:05 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
2025/12/10 17:20:46 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.
Registered model 'RF-GSCV' already exists. Creating a new version of this model...
2025/12/10 17:20:49 WARNING mlflow.tracking._model_registry.fluent: Run with id 16a5624c39fc43a9a9e0e4667079864a has no artifacts at artifact path 'model', registering model based on models:/m-db44f2cec98543d28cc663fcc095dfd4 instead
2025/12/10 17:20:49 INFO mlflow.store.model_registry.abstract_store: Waiting up to 300 seconds for model version to finish creation. Model name: RF-GSCV, version 2
Created version '2' of model 'RF-GSCV'.

Accuracy: 0.8710
Precision: 0.8686
Recall: 0.8710
F1 Score: 0.8692
Best CV Score (F1): 0.8695
Best Params: {'max_depth': 20, 'max_features': 'sqrt', 'min_samples_leaf': 2, 'min_samples_split': 5, 'n_estimators': 500}
Model version: 2
Alias @RF-GSCV ‚Üí version 2
üèÉ View run Run for @RF-GSCV at: http://127.0.0.1:5000/#/experiments/953327730224751686/runs/16a5624c39fc43a9a9e0e4667079864a
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/953327730224751686

- Saving RF with GridSearch best model to be deployed using Streamlit

In [27]:
import joblib
model_filename = 'rf_gscv_model.pkl'
file = f'../streamlit/{model_filename}'
joblib.dump(best_model, file)
print(f"Model saved to {model_filename}")

Model saved to rf_gscv_model.pkl