In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn import tree
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor
from sklearn.metrics import mean_squared_error, r2_score
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix, classification_report
import pandas as pd
from mlflow.tracking import MlflowClient
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import accuracy_score, ConfusionMatrixDisplay
import matplotlib.pyplot as plt
from sklearn.metrics import accuracy_score, ConfusionMatrixDisplay
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import accuracy_score
import pandas as pd
import mlflow
from sklearn.model_selection import GridSearchCV

In [2]:
df = pd.read_csv('../data/telecom_customer_churn_clean.csv')
df.head(20)

,Gender,Age,Married,Number of Dependents,City_0,City_1,City_2,City_3,City_4,City_5,...,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges,Customer Status
0,0,37,1,0,0,0,0,0,0,0,...,1,0,0,1,2,593.30,0.00,0,381.51,0
1,1,46,0,0,0,0,0,0,0,0,...,0,1,1,0,1,542.40,38.33,10,96.21,0
2,1,50,0,0,0,0,0,0,0,0,...,0,0,0,1,1,280.85,0.00,0,134.60,1
3,1,78,1,0,0,0,0,0,0,0,...,1,1,0,1,1,1237.85,0.00,0,361.66,1
4,0,75,1,0,0,0,0,0,0,0,...,1,0,0,1,1,267.40,0.00,0,22.14,1
5,0,23,0,3,0,0,0,0,0,0,...,1,1,1,1,1,571.45,0.00,0,150.93,0
6,0,67,1,0,0,0,0,0,0,0,...,1,1,1,1,3,7904.25,0.00,0,707.16,0
7,1,52,1,0,0,0,0,0,0,0,...,0,0,0,0,3,5377.80,0.00,20,816.48,0
8,0,68,0,0,0,0,0,0,0,0,...,0,0,0,1,3,340.35,0.00,0,73.71,0
9,0,43,1,1,0,0,0,0,0,0,...,1,1,1,1,3,5957.90,0.00,0,1849.90,0
10,1,47,0,0,0,0,0,0,0,0,...,1,0,0,1,3,2460.55,0.00,0,0.00,0
11,0,25,1,2,0,0,0,0,0,0,...,1,1,1,1,3,8456.75,0.00,0,1152.72,0
12,0,58,1,0,0,0,0,0,0,0,...,0,0,0,1,1,351.50,0.00,0,93.25,0
13,0,32,0,0,0,0,0,0,0,0,...,1,0,0,1,3,7261.25,0.00,0,162.00,0
14,0,39,0,0,0,0,0,0,0,0,...,0,0,0,1,3,2560.10,0.00,0,0.00,0
15,0,58,1,2,0,0,0,0,0,0,...,0,1,1,1,3,6849.40,0.00,0,1935.46,0
16,0,52,1,1,0,0,0,0,0,0,...,1,1,1,1,2,1993.20,0.00,0,0.00,0
17,0,72,0,0,0,0,0,0,0,0,...,0,0,0,1,2,72.10,0.00,0,7.77,0
18,1,79,0,0,0,0,0,0,0,0,...,0,1,0,1,2,2791.50,0.00,0,480.15,1
19,1,67,0,0,0,0,0,0,0,0,...,0,0,0,1,1,25.10,0.00,0,0.00,1

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7043 entries, 0 to 7042
Data columns (total 35 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   Gender                       7043 non-null   int64
 1   Age                          7043 non-null   int64
 2   Married                      7043 non-null   int64
 3   Number of Dependents         7043 non-null   int64
 4   City_0                       7043 non-null   int64
 5   City_1                       7043 non-null   int64
 6   City_2                       7043 non-null   int64
 7   City_3                       7043 non-null   int64
 8   City_4                       7043 non-null   int64
 9   City_5                       7043 non-null   int64
 10  City_6                       7043 non-null   int64
 11  City_7                       7043 non-null   int64
 12  City_8                       7043 non-null   int64
 13  City_9                       7043 non-null   int64
 14  City_10                      7043 non-null   int64
 15  Number of Referrals          7043 non-null   int64
 16  Tenure in Months             7043 non-null   int64
 17  Phone Service                7043 non-null   int64
 18  Multiple Lines               7043 non-null   int64
 19  Internet Service             7043 non-null   int64
 20  Internet Type_0              7043 non-null   int64
 21  Internet Type_1              7043 non-null   int64
 22  Avg Monthly GB Download      7043 non-null   float64
 23  Device Protection Plan       7043 non-null   int64
 24  Premium Tech Support         7043 non-null   int64
 25  Streaming TV                 7043 non-null   int64
 26  Streaming Movies             7043 non-null   int64
 27  Streaming Music              7043 non-null   int64
 28  Unlimited Data               7043 non-null   int64
 29  Contract                     7043 non-null   int64
 30  Total Charges                7043 non-null   float64
 31  Total Refunds                7043 non-null   float64
 32  Total Extra Data Charges     7043 non-null   int64
 33  Total Long Distance Charges  7043 non-null   float64
 34  Customer Status              7043 non-null   int64
dtypes: float64(4), int64(31)
memory usage: 1.9 MB

In [4]:
X = df.drop("Customer Status", axis=1)
y = df["Customer Status"]

X_train, X_test, y_train, y_test = train_test_split(
    X, y, stratify=y, test_size=0.3, random_state=42
)

X_train.shape, X_test.shape

((4930, 34), (2113, 34))

In [5]:
X

,Gender,Age,Married,Number of Dependents,City_0,City_1,City_2,City_3,City_4,City_5,...,Premium Tech Support,Streaming TV,Streaming Movies,Streaming Music,Unlimited Data,Contract,Total Charges,Total Refunds,Total Extra Data Charges,Total Long Distance Charges
0,0,37,1,0,0,0,0,0,0,0,...,1,1,0,0,1,2,593.30,0.00,0,381.51
1,1,46,0,0,0,0,0,0,0,0,...,0,0,1,1,0,1,542.40,38.33,10,96.21
2,1,50,0,0,0,0,0,0,0,0,...,0,0,0,0,1,1,280.85,0.00,0,134.60
3,1,78,1,0,0,0,0,0,0,0,...,0,1,1,0,1,1,1237.85,0.00,0,361.66
4,0,75,1,0,0,0,0,0,0,0,...,1,1,0,0,1,1,267.40,0.00,0,22.14
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7038,0,20,0,0,0,0,0,0,0,0,...,1,0,0,1,1,2,742.90,0.00,0,606.84
7039,1,40,1,0,0,1,0,0,1,1,...,0,0,1,1,1,1,1873.70,0.00,0,356.40
7040,1,22,0,0,0,0,1,0,1,0,...,0,0,0,0,1,1,92.75,0.00,0,37.24
7041,1,21,1,0,1,0,0,0,0,1,...,1,0,1,1,1,3,4627.65,0.00,0,142.04
7042,1,36,1,0,0,0,1,1,0,1,...,0,1,1,1,1,3,3707.60,0.00,0,0.00

# Random  Forest

In [6]:
import mlflow
from mlflow.tracking import MlflowClient
import mlflow.sklearn
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score, f1_score
)

mlflow.set_tracking_uri("http://127.0.0.1:5000")
mlflow.set_experiment("Depi_RF")
client = MlflowClient()
model_name = "RF"
alias_name = "RF"

with mlflow.start_run(run_name=f"Run for @{alias_name}") as run:

    rf = RandomForestClassifier(
        random_state=30,
        class_weight="balanced"  
    )

    rf.fit(X_train, y_train)
    
    y_pred = rf.predict(X_test)
    acc = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average="weighted")
    recall = recall_score(y_test, y_pred, average="weighted")
    f1 = f1_score(y_test, y_pred, average="weighted")

    mlflow.log_metric("accuracy", acc)
    mlflow.log_metric("precision", precision)
    mlflow.log_metric("recall", recall)
    mlflow.log_metric("f1_score", f1)
    mlflow.sklearn.log_model(rf, artifact_path="model")

    model_uri = f"runs:/{run.info.run_id}/model"
    result = mlflow.register_model(model_uri=model_uri, name=model_name)
    version = result.version

    client.set_registered_model_alias(
        name=model_name,
        alias=alias_name,
        version=version
    )

    print(f"Accuracy: {acc:.4f}")
    print(f"Precision: {precision:.4f}")
    print(f"Recall: {recall:.4f}")
    print(f"F1 Score: {f1:.4f}")
    print(f"Model version: {version}")
    print(f"Alias @{alias_name} ‚Üí version {version}")

2025/12/10 15:28:31 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
2025/12/10 15:28:41 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.
Registered model 'RF' already exists. Creating a new version of this model...
2025/12/10 15:28:41 WARNING mlflow.tracking._model_registry.fluent: Run with id e5d5fca0b1b447c98a2fa7d2ea31e3d1 has no artifacts at artifact path 'model', registering model based on models:/m-fdc80843eddb4386ab1b9696b74ba9a4 instead
2025/12/10 15:28:41 INFO mlflow.store.model_registry.abstract_store: Waiting up to 300 seconds for model version to finish creation. Model name: RF, version 2
Created version '2' of model 'RF'.

Accuracy: 0.8320
Precision: 0.8255
Recall: 0.8320
F1 Score: 0.8265
Model version: 2
Alias @RF ‚Üí version 2
üèÉ View run Run for @RF at: http://127.0.0.1:5000/#/experiments/311663275072054350/runs/e5d5fca0b1b447c98a2fa7d2ea31e3d1
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/311663275072054350

# Random Forest grid search

In [7]:
import mlflow
from mlflow.tracking import MlflowClient
import mlflow.sklearn
from sklearn.model_selection import GridSearchCV
from sklearn.ensemble import RandomForestClassifier
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score, f1_score
)

mlflow.set_tracking_uri("http://127.0.0.1:5000")
mlflow.set_experiment("Depi_RF")
client = MlflowClient()
model_name = "RF-GSCV"
alias_name = "RF-GSCV"

param_grid = {
    "n_estimators": [200, 300, 400, 500],
    "max_depth": [10, 20, 30, None],
    "min_samples_split": [2, 5, 10],
    "min_samples_leaf": [1, 2, 4],
    "max_features": ["sqrt", "log2"],
    
    }

with mlflow.start_run(run_name=f"Run for @{alias_name}") as run:

    rf = RandomForestClassifier(
        random_state=30,
        class_weight="balanced" 
    )

    grid = GridSearchCV(
        estimator=rf,
        param_grid=param_grid,
        cv=3,
        scoring="f1_weighted",
        n_jobs=-1,
        verbose=1
    )

    grid.fit(X_train, y_train)
    best_model = grid.best_estimator_
    y_pred = best_model.predict(X_test)

    acc = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average="weighted")
    recall = recall_score(y_test, y_pred, average="weighted")
    f1 = f1_score(y_test, y_pred, average="weighted")


    mlflow.log_metric("accuracy", acc)
    mlflow.log_metric("precision", precision)
    mlflow.log_metric("recall", recall)
    mlflow.log_metric("f1_score", f1)
    mlflow.log_metric("best_cv_score", grid.best_score_)
    mlflow.log_params(grid.best_params_)

    mlflow.sklearn.log_model(best_model, artifact_path="model")

    model_uri = f"runs:/{run.info.run_id}/model"
    result = mlflow.register_model(model_uri=model_uri, name=model_name)
    version = result.version

    client.set_registered_model_alias(
        name=model_name,
        alias=alias_name,
        version=version
    )

    print(f"Accuracy: {acc:.4f}")
    print(f"Precision: {precision:.4f}")
    print(f"Recall: {recall:.4f}")
    print(f"F1 Score: {f1:.4f}")
    print(f"Best CV Score (F1): {grid.best_score_:.4f}")
    print(f"Best Params: {grid.best_params_}")
    print(f"Model version: {version}")
    print(f"Alias @{alias_name} ‚Üí version {version}")

Fitting 3 folds for each of 288 candidates, totalling 864 fits

2025/12/10 15:35:39 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
2025/12/10 15:35:45 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.
Successfully registered model 'RF-GSCV'.
2025/12/10 15:35:46 WARNING mlflow.tracking._model_registry.fluent: Run with id 88f531b8214e40c68e1e0df248f6c1c8 has no artifacts at artifact path 'model', registering model based on models:/m-3015356e2e844685a2f9dc58a9e981e6 instead
2025/12/10 15:35:46 INFO mlflow.store.model_registry.abstract_store: Waiting up to 300 seconds for model version to finish creation. Model name: RF-GSCV, version 1
Created version '1' of model 'RF-GSCV'.

Accuracy: 0.8268
Precision: 0.8293
Recall: 0.8268
F1 Score: 0.8279
Best CV Score (F1): 0.8408
Best Params: {'max_depth': 20, 'max_features': 'sqrt', 'min_samples_leaf': 2, 'min_samples_split': 2, 'n_estimators': 200}
Model version: 1
Alias @RF-GSCV ‚Üí version 1
üèÉ View run Run for @RF-GSCV at: http://127.0.0.1:5000/#/experiments/311663275072054350/runs/88f531b8214e40c68e1e0df248f6c1c8
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/311663275072054350

# Logistic Regression

In [8]:
import mlflow
from mlflow.tracking import MlflowClient
import mlflow.sklearn
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score, f1_score
)

mlflow.set_tracking_uri("http://127.0.0.1:5000")
mlflow.set_experiment("Depi_LogReg")
client = MlflowClient()

model_name = "LogisticRegression"
alias_name = "LR"

with mlflow.start_run(run_name=f"Run for @{alias_name}") as run:
    
    logreg = LogisticRegression(
        random_state=30,
        max_iter=300
    )

    logreg.fit(X_train, y_train)
    y_pred = logreg.predict(X_test)

    acc = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred)
    recall = recall_score(y_test, y_pred)
    f1 = f1_score(y_test, y_pred)

    mlflow.log_metric("accuracy", acc)
    mlflow.log_metric("precision", precision)
    mlflow.log_metric("recall", recall)
    mlflow.log_metric("f1_score", f1)

    mlflow.sklearn.log_model(logreg, artifact_path="model")
    model_uri = f"runs:/{run.info.run_id}/model"
    result = mlflow.register_model(model_uri=model_uri, name=model_name)
    version = result.version
    client.set_registered_model_alias(
        name=model_name,
        alias=alias_name,
        version=version
    )

    print(f"Accuracy: {acc:.4f}")
    print(f"Precision: {precision:.4f}")
    print(f"Recall: {recall:.4f}")
    print(f"F1 Score: {f1:.4f}")
    print(f"Model version: {version}")
    print(f"Alias @{alias_name} ‚Üí version {version}")

C:\Users\Khalid\anaconda3\envs\depi3\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 300 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=300).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
2025/12/10 15:35:47 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
2025/12/10 15:35:53 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.
Registered model 'LogisticRegression' already exists. Creating a new version of this model...
2025/12/10 15:35:53 WARNING mlflow.tracking._model_registry.fluent: Run with id 25040116819641bda619134149e81670 has no artifacts at artifact path 'model', registering model based on models:/m-082f8c6000404dc4b691f8447895dbf0 instead
2025/12/10 15:35:53 INFO mlflow.store.model_registry.abstract_store: Waiting up to 300 seconds for model version to finish creation. Model name: LogisticRegression, version 3
Created version '3' of model 'LogisticRegression'.

Accuracy: 0.8150
Precision: 0.6622
Recall: 0.6185
F1 Score: 0.6396
Model version: 3
Alias @LR ‚Üí version 3
üèÉ View run Run for @LR at: http://127.0.0.1:5000/#/experiments/573313909061741353/runs/25040116819641bda619134149e81670
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/573313909061741353

# Logistic Regression with Grid Search

In [9]:
import mlflow
from mlflow.tracking import MlflowClient
import mlflow.sklearn
from sklearn.model_selection import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import (
    accuracy_score, precision_score, recall_score, f1_score
)

mlflow.set_tracking_uri("http://127.0.0.1:5000")
mlflow.set_experiment("Depi_LogReg")
client = MlflowClient()

model_name = "LogisticRegressionwithgridsearch"
alias_name = "LR-GSCV"

param_grid = {
    "C": [0.1, 1, 10, 100],
    "penalty": ["l2"],            
    "max_iter": [200, 300 ,500,700],
}

with mlflow.start_run(run_name=f"Run for @{alias_name}") as run:
    logreg = LogisticRegression(
        random_state=30,
        class_weight="balanced"
    )

    grid = GridSearchCV(
        estimator=logreg,
        param_grid=param_grid,
        cv=3,
        scoring="f1_weighted",
        n_jobs=-1,
        verbose=1
    )
    
    grid.fit(X_train, y_train)
    logreg = grid.best_estimator_
    y_pred = logreg.predict(X_test)
    acc = accuracy_score(y_test, y_pred)
    precision = precision_score(y_test, y_pred, average="weighted")
    recall = recall_score(y_test, y_pred, average="weighted")
    f1 = f1_score(y_test, y_pred, average="weighted")
    mlflow.log_metric("accuracy", acc)
    mlflow.log_metric("precision", precision)
    mlflow.log_metric("recall", recall)
    mlflow.log_metric("f1_score", f1)
    mlflow.log_metric("best_cv_score", grid.best_score_)
    mlflow.log_params(grid.best_params_)
    mlflow.sklearn.log_model(logreg, artifact_path="model")
    model_uri = f"runs:/{run.info.run_id}/model"
    result = mlflow.register_model(model_uri=model_uri, name=model_name)
    version = result.version

    client.set_registered_model_alias(
        name=model_name,
        alias=alias_name,
        version=version
    )

    print(f"Accuracy: {acc:.4f}")
    print(f"Precision: {precision:.4f}")
    print(f"Recall: {recall:.4f}")
    print(f"F1 Score: {f1:.4f}")
    print(f"Best CV Score (F1): {grid.best_score_:.4f}")
    print(f"Best Params: {grid.best_params_}")
    print(f"Model version: {version}")
    print(f"Alias @{alias_name} ‚Üí version {version}")

Fitting 3 folds for each of 16 candidates, totalling 48 fits

C:\Users\Khalid\anaconda3\envs\depi3\Lib\site-packages\sklearn\linear_model\_logistic.py:473: ConvergenceWarning: lbfgs failed to converge after 500 iteration(s) (status=1):
STOP: TOTAL NO. OF ITERATIONS REACHED LIMIT

Increase the number of iterations to improve the convergence (max_iter=500).
You might also want to scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
2025/12/10 15:35:59 WARNING mlflow.models.model: `artifact_path` is deprecated. Please use `name` instead.
2025/12/10 15:36:05 WARNING mlflow.models.model: Model logged without a signature and input example. Please set `input_example` parameter when logging the model to auto infer the model signature.
Registered model 'LogisticRegressionwithgridsearch' already exists. Creating a new version of this model...
2025/12/10 15:36:05 WARNING mlflow.tracking._model_registry.fluent: Run with id 918fbe8450564e62b8b7c1a0db725855 has no artifacts at artifact path 'model', registering model based on models:/m-8df33dbf54824e8487dfd31d6b2c5878 instead
2025/12/10 15:36:05 INFO mlflow.store.model_registry.abstract_store: Waiting up to 300 seconds for model version to finish creation. Model name: LogisticRegressionwithgridsearch, version 4
Created version '4' of model 'LogisticRegressionwithgridsearch'.

Best CV Score (F1): 0.7974
Best Params: {'C': 100, 'max_iter': 500, 'penalty': 'l2'}
Model version: 4
Alias @LR-GSCV ‚Üí version 4
üèÉ View run Run for @LR-GSCV at: http://127.0.0.1:5000/#/experiments/573313909061741353/runs/918fbe8450564e62b8b7c1a0db725855
üß™ View experiment at: http://127.0.0.1:5000/#/experiments/573313909061741353